@import 'wave-app-theme';

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a {
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        background: #000;
        opacity: 0.85 !important;
    }
}
