mat-dialog-content {
    max-width: unset;
    padding-left: 0px;
    padding-right: 0px;
}

mat-sidenav-container {
    padding: 0px;
}

.mat-tab-body {
    height: 100%;
}

.unset-height {
    max-height: unset;
}

.actions {
    padding: 1rem;
}
