<wave-dialog-header>{{name}}</wave-dialog-header>
<mat-dialog-content style="margin-top: 1rem">
    <form [formGroup]="form" fxLayout="row" fxLayoutAlign="space-between none">
        <wave-code-editor language="r" formControlName="code" style="min-width: calc(70% - 1rem)"></wave-code-editor>
        <span fxFlex="1rem"></span>
        <wave-r-quick-help style="max-width: 30%"></wave-r-quick-help>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="actions">
    <button mat-raised-button (click)="minimize()"><mat-icon>fullscreen_exit</mat-icon></button>
</mat-dialog-actions>
